* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}

header {
  text-align: center;
}

.nav_as_directory {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.nav_as_directory a {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.nav_as_nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav_as_nav a {
  padding: 1em;
  font-size: 1rem;
  text-align: center;
  flex: 1;
}

.categoryDisplay {
  align-items: center;
  display: flex;
  flex-direction: column;
}


.categoryDisplay section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.categoryDisplay a {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


/* Option Display Styling */


.optionDisplay {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.optionDisplay #basicCategoryData {
  display: flex;
  flex-direction: column;
}

.optionDisplay #displayHeader {
  text-align: center;
}

.optionDisplay ul {
  list-style: none;
}


.optionDisplay #linkedOptions{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem,20rem));
  grid-gap: 2rem;
  justify-content: center;
}

.optionDisplay #linkedOptions section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: .3em;
  
  border-radius: 5px;
  border: solid black;
}